@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Book.woff2') format('woff2'),
    url('../fonts/Gotham-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Bold.woff2') format('woff2'),
    url('../fonts/Gotham-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Black.woff2') format('woff2'),
    url('../fonts/Gotham-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

:root {
  --padding: 2rem;

  --black: #000000;
  --white: #ececec;
  --orange: #d78130;
  --light-gray: #cbcbcb;
  --gray: #ababab;
  --dark-gray: #5e5e5e;
  --darker-gray: #222222;

  --overlay-color: rgba(20, 20, 20, 0.5);

  scroll-behavior: smooth;
}

@media screen and (max-width: 425px) {
  :root {
    --padding: 1rem;
  }
}

html {
  font-size: 16px;
}

@media screen and (min-width: 1000px) {
  html {
    font-size: calc(16px + 2 * ((100vw - 1000px) / 440));
  }
}

@media screen and (min-width: 1440px) {
  html {
    font-size: calc(18px + 4 * ((100vw - 1440px) / 160));
  }
}

@media screen and (min-width: 1600px) {
  html {
    font-size: 22px;
  }
}

body {
  margin: 0;
  color: var(--white);
  font-family: Gotham, Montserrat, sans-serif;
  line-height: 1.45;

  background-color: var(--black);
}

button {
  cursor: pointer;
  padding: 0;
  margin: 0;
  color: inherit;
  background-color: transparent;
  font-size: inherit;
  border: none;
}

button:disabled {
  opacity: 0.5;
  pointer-events: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}

img,
svg {
  max-width: 100%;
}

svg {
  fill: currentColor;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child {
  margin-top: 0;
}

h1 {
  margin-top: 0;
  font-size: 2.074em;
  font-weight: bold;
}

h2 {
  color: var(--light-gray);
  font-size: 1.728em;
}

h3 {
  font-size: 1.44em;
}

h4 {
  font-size: 1.2em;
}

p {
  margin-bottom: 1.3em;
  line-height: 1.5;
  color: var(--gray);
}

p:last-child {
  margin-bottom: 0;
}

small {
  font-size: 0.75em;
}
